* {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

#container {
    display: flex;
    padding: 40px;
    border: 1px solid black;
    height: 100%;
    width: 100%;
}

#contatos {
    display: flex;
    width: 30%;
    border: 1px solid black;
}

#chat {
    width: 70%;
    border: 1px solid black;
    background-color: #c3c3c3;
}